@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --text:#2b2c34;
    --background: #fffffe;
    --contrasting: #060a75;
    --background-dark: #fbfbfb;
    --background-darker: #f6f6f6;
    --light-green: #c2ffc5;
    --light-orange: #ffdac2;
    --light-blue: #c2caff;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-darker);
    height: 100%;
}

/* NAVBAR */
.navigation{
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--background);
}

nav{
    height: 80px;
    padding: 10px 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.link{
    transition: all ease 0.3s;
}

.link:hover, .link:active{
    transform: translateY(-5px);
}

.link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
    color: var(--contrasting);
    text-decoration: none;
    font-weight: 700;
}

.btn{
    background-color: var(--text);
    color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: solid 2px transparent;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    border-color: var(--text);
    color: var(--text);
    background-color: var(--background);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
    list-style: none;
    transition: all 0.5s ease;
}

.sidebar-link{
    transition: all ease 0.3s;
}

.sidebar-link:hover, .sidebar-link:active{
    transform: translateY(-5px);
}

.sidebar-link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.menu-button{
    display: none;
}

.bx-menu{
    font-size: 2rem;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-menu:hover, .bx-menu:active{
    background-color: var(--background-darker);
}

.bx-x{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-x:hover, .bx-x:active{
    background-color: var(--background-darker);
}

/* MAIN CONTENT */
.main-content{
    padding: 70px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
    align-items: center;
    height: 80%;
}

.title{
    font-size: 2rem;
    color: var(--contrasting);
    margin-bottom: 10px;
}

.form-container p{
    margin-bottom: 30px;
}

img{
    max-width: 550px;
    width: 100%;
    margin: auto;
}

/* FORM CONTAINER */
.inputs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

#question{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#description{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

#submit{
    padding: 8px 20px;
    border: 2px solid transparent;
    background-color: var(--text);
    color: var(--background);
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#submit:hover, #submit:active{
    border-color: var(--text);
    color: var(--text);
    background-color: var(--background);
}

/* MEDIA QUERIES */
@media (max-width: 900px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    img{
        display: none;
    }
}
@media (max-width: 800px) {
    .hide{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media (max-width: 500px){
    .sidebar{
        width: 100%;
    }
}