@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --text:#2b2c34;
    --background: #fffffe;
    --contrasting: #060a75;
    --background-dark: #fbfbfb;
    --background-darker: #f6f6f6;
    --light-green: #c2ffc5;
    --light-orange: #ffdac2;
    --light-blue: #c2caff;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.typed-cursor{
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle; 
    display: inline;
    position: relative;
    top: -12px;
}

/* NAVBAR */
.navigation{
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--background);
}

nav{
    height: 80px;
    padding: 10px 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.link{
    transition: all ease 0.3s;
}

.link:hover, .link:active{
    transform: translateY(-5px);
}

.link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
    color: var(--contrasting);
    text-decoration: none;
    font-weight: 700;
}

.btn{
    background-color: var(--text);
    color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: solid 2px transparent;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    border-color: var(--text);
    color: var(--text);
    background-color: var(--background);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
    list-style: none;
    transition: all 0.5s ease;
}

.sidebar-link{
    transition: all ease 0.3s;
}

.sidebar-link:hover, .sidebar-link:active{
    transform: translateY(-5px);
}

.sidebar-link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.menu-button{
    display: none;
}

.bx-menu{
    font-size: 2rem;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-menu:hover, .bx-menu:active{
    background-color: var(--background-darker);
}

.bx-x{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-x:hover, .bx-x:active{
    background-color: var(--background-darker);
}

/* WELCOME HEADER */

.welcome{
    background-color: var(--background-dark);
    padding: 0 20px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image:  radial-gradient(#2b2c34 0.5px, transparent 0.5px), radial-gradient(var(--text) 0.5px, var(--background-dark) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.welcome h1{
    font-size: 5rem;
    color: var(--text);
    text-align: center;
}

.welcome h1 span span{
    color: var(--contrasting);
}

.welcome p{
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
}

/* MAIN CONTENT */

.main-content{
    padding: 60px;
    background-color: var(--background-darker);
}

.title{
    font-size: 2rem;
    color: var(--contrasting);
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

/* OUR COURSES SECTION */

.courses{
    margin-bottom: 120px;
}

.courses-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.courses-card{
    padding: 30px;
    background-color: var(--background);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 200px;
    border: 1.5px solid transparent;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.courses-card:hover, .courses-card:active{
    border-color: var(--text);
}

.courses-card i{
    font-size: 4rem;
    padding: 15px;
    border-radius: 10px;
}

.bxl-python{
    background-color: var(--light-green);
}

.bxl-java{
    background-color: var(--light-orange);
}

.bxl-c-plus-plus{
    background-color: var(--light-blue);
}

.card-title{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--text);
}

.card-desc{
    color: var(--text);
}

/* OUR FEATURES SECTION */

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features-card-container{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.features-card{
    background-color: var(--background);
    padding: 30px;
    border-radius: 8px;
    border: 1.5px solid transparent;
    transition: all 0.3s ease ;
}

.features-card i{
    padding: 10px;
    background-color: var(--text);
    color: var(--background);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.features-card:hover, .features-card:active{
    border-color: var(--text);
}

/* MEDIA QUERIES */

@media (max-width: 1050px){
    .welcome h1{
        font-size: 4rem;
    }

    .typed-cursor{
        top: -10px;
    }

    .courses-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .features-card-container{
        width: 90%;
    }
}

@media (max-width: 880px){
    .features-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .hide{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media (max-width: 720px){
    .welcome p{
        font-size: 1.2rem;
    }
    
    .courses-card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 550px){
    .features-card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 500px){
    .welcome h1{
        font-size: 3.4rem;
    }

    .typed-cursor{
        top: -8px;
    }
    
    .sidebar{
        width: 100%;
    }
}

@media (max-width: 420px){
    .main-content{
        padding: 60px 20px;
    }

    .features-card-container{
        width: 100%;
    }
}