@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --text:#2b2c34;
    --background: #fffffe;
    --contrasting: #060a75;
    --background-dark: #fbfbfb;
    --background-darker: #f6f6f6;
    --light-green: #c2ffc5;
    --light-orange: #ffdac2;
    --light-blue: #c2caff;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-darker);
    height: 100%;
}

/* NAVBAR */
.navigation{
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--background);
}

nav{
    height: 80px;
    padding: 10px 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.link{
    transition: all ease 0.3s;
}

.link:hover, .link:active{
    transform: translateY(-5px);
}

.link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.logo{
    font-size: 30px;
    color: var(--contrasting);
    text-decoration: none;
    font-weight: 700;
}

.btn{
    background-color: var(--text);
    color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: solid 2px transparent;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    border-color: var(--text);
    color: var(--text);
    background-color: var(--background);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
    list-style: none;
    transition: all 0.5s ease;
}

.sidebar-link{
    transition: all ease 0.3s;
}

.sidebar-link:hover, .sidebar-link:active{
    transform: translateY(-5px);
}

.sidebar-link a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.menu-button{
    display: none;
}

.bx-menu{
    font-size: 2rem;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-menu:hover, .bx-menu:active{
    background-color: var(--background-darker);
}

.bx-x{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.bx-x:hover, .bx-x:active{
    background-color: var(--background-darker);
}

/* MAIN CONTENT */

.main-content{
    padding: 30px 50px;
    background-color: var(--background-darker);
}

.title{
    font-size: 2.5rem;
    color: var(--contrasting);
    font-weight: 600;
    margin-bottom: 30px;
}

/* OUR COURSES SECTION */

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card{
    padding: 30px;
    background-color: var(--background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    border: 1.5px solid transparent;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.card:hover, .card:active{
    border-color: var(--text);
}

.card > i{
    font-size: 9rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-logo-1{
    background-color: var(--light-green);
}

.card-logo-2{
    background-color: var(--light-orange);
}

.card-logo-3{
    background-color: var(--light-blue);
}

.card-title{
    font-size: 20px;
    margin: 5px 0;
    color: var(--text);
}

.card-desc{
    color: var(--text);
}

.card-btn {
    text-decoration: none;
    color: var(--background);
    font-size: 1.1rem;
    background-color: var(--contrasting);
    padding: 5px 20px;
    border: 1.5px solid var(--contrasting);
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.card-btn:hover, .card-btn:active {
    color: var(--contrasting);
    background-color: transparent;
}

.lesson-link{
    text-decoration: none;
    color: var(--text);
    display: block;
    text-align: center;
    margin: 2.5px;
    transition: all 0.3s ease;
}

.lesson-link.card-desc:hover, .lesson-link.card-desc:active{
    text-decoration: underline;
    opacity: 0.6;
}

.python-lessons {
    display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1050px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .hide{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media (max-width: 720px){
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 500px){ 
    .sidebar{
        width: 100%;
    }
}

@media (max-width: 420px){
    .main-content{
        padding: 60px 20px;
    }
}