@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --text:#2b2c34;
    --background: #fffffe;
    --contrasting: #060a75;
    --background-dark: #fbfbfb;
    --background-darker: #f6f6f6;
    --light-green: #c2ffc5;
    --light-orange: #ffdac2;
    --light-blue: #c2caff;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    width: 85%;
    height: 200vh;
}

/* NAVBAR */

.navigation{
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--background);
}

nav{
    height: 80px;
    padding: 10px 30px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 2rem;
    font-weight: 700;
}

/* MENU */

.menu{
    z-index: inherit;
    position: fixed;
    top: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    padding: 0 20px;

    background-color: var(--background-darker);
    box-shadow: 5px 0 10px black;
}

.arrow{
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 30px 0;
    transition: all ease 0.3s;
}

.arrow:hover, .arrow:active {
    transform: translateY(-7.5px);
}

.menu-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link{
    transition: all ease 0.3s;
    text-decoration: none;
    color: var(--text);
    font-size: 1.5rem;
    cursor: default;
}

.unlock:hover, .unlock:active{
    transform: translateY(-5px);
}

/* MAIN CONTENT */

.main-content{
    padding: 30px 50px;
    margin-bottom: 50px;
    background-color: var(--background-dark);
}

.title{
    font-size: 2rem;
    color: var(--contrasting);
    font-weight: 600;
    margin-bottom: 30px;
}

/* VIDEO */

video {
    background-color: black;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

/* QUESTIONS */

.question-card {
    margin-bottom: 30px;
}

.question {
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 500;
    margin: 7.5px 0 10px;
}

input[type=radio] {
    margin: 0 5px;
}

.main-content p{
    font-size: 1rem;
    color: var(--text);
    font-weight: 400;
    white-space: pre-line;
    margin: 5px 0;
}

button {
    color: var(--background);
    font-size: 1.3rem;
    background-color: var(--text);
    padding: 5px 25px;
    border: 1.5px solid var(--text);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

button:hover, button:active {
    color: var(--text);
    background-color: transparent;
}

/* EXERCISE */

textarea {
    color: var(--text);
    font-size: 1rem;
    width: 50%;
    height: 10rem;
    background-color: var(--background-darker);
    padding: 5px;
    border: 1.5px solid var(--text);
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }

    .menu {
        width: 100%;
        height: auto;
        padding: 20px;
        position: static;
        box-shadow: none;
    }

    .arrow {
        margin: 15px 0;
    }

    .menu-links {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .link {
        font-size: 1.2rem;
    }
}